/*
 *Name: [Zach Hazelwood]
 *UnityID: [zrhazelw]
 *Date: [11/07/2024]
 *Assignment: [html lab]
 *Description: [Creating a website page for e115]
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #DECAFF;
}

.table-border {
    border: 1px solid #DECAFF;
}

#photo-resize {
    max-width: 250px;
    max-height: 300px;
}
